.clearfix:before,.clearfix:after{display:table;content:" "}
.clearfix:after{clear:both}
.center-block{display:block;margin-right:auto;margin-left:auto}
.pull-right{float:right !important}
.pull-left{float:left !important}
.hide{display:none !important}
.show{display:block !important}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}

@keyframes blinker{0%{opacity:0}70%{opacity:1}}

html{font:300 62.5%/1 'Source Code Pro', monospace;background:rgba(10,9,9,0.95);color:#00FBFF}
body{margin:.5rem;font-size:1rem}
html, body { height: 100%; }
#main { min-height: 100%; margin: 0 auto -105px; }
footer { height: 91px; }
hr{border-color:#B9FFB9}
.main-header{margin-bottom:3rem}
.main-header a{color:#00FBFF;text-decoration:none}
.main-header a:hover{color:#00ecf0}
.main-header .title{text-align:center}
span.blinker{animation:blinker 1s infinite alternate;transition:opacity 0.1s cubic-bezier(1, 1, 1, 1)}
.post-title{text-align:center;margin-top:0}
.content{font-size:1.4rem;line-height:1.2;text-align:left;margin-left: 1rem}
.content small time{background:#313;padding:.25rem}
.content .post-copy{background:#333;padding:1rem;line-height:1.3}
.content .post-copy em,.content .post-copy b{color:#00FBFF;background:#313;font-weight:bold;font-style:normal;padding:0 .5rem .25rem}
.content .post-copy.preview{background:#313}
.content .post-copy.preview .post-preview-header{text-align:center;border-bottom:1px solid;padding:1rem 0;background:rgba(10,9,9,0.95);display:block;margin:0 auto 2rem;width:80px}
.content a{text-decoration:none;border-bottom:3px solid rgba(210,248,180,0.63);box-shadow:inset 0 -5px 0 rgba(210,248,180,0.63);color:inherit}
.content a:hover{color:#080808;background:#d2f8b4}
div.pattern{position:absolute;top:1.5rem;left:.5rem;z-index:2}
div.pattern a{text-decoration:none;color:#00FBFF;background:#313}
div.pattern a:hover{background:#290729}
div.pattern a.menu-link{padding:1.1rem 1rem 1rem;font:bold 1.2rem 'Source Code Pro', monospace}
div.pattern #menu{font:1.35rem 'Source Code Pro', monospace;position:absolute;top:2.5rem;left:0;width:12rem;display:none}
div.pattern #menu ul{margin:0;padding:0;max-width:14rem;list-style:none;border-top:1px solid #1f001f}
div.pattern #menu ul li{text-align:right}
div.pattern #menu ul li a{display:block;padding:0.8em;border-bottom:1px solid #1f001f}
div.pattern #menu ul li:last-child a{border:0}
.blog-container{max-width:790px;margin:auto;text-align:center}
input,textarea{font:1.3rem/1.6 "Source Code Pro", monospace;background:#333;border:0;padding:.8rem;margin:.8rem .8rem .8rem 0;height:auto;color:#B9FFB9}
input{min-width:320px}
textarea{min-width:100%}
input.btn{font-size:1.5rem;text-align:left;cursor:pointer}
.btn-submit{background:#B9FFB9;color:rgba(10,9,9,0.95)}
.btn-submit:hover{background:#aff5af}
div#error_explanation{font-weight:bold;color:#f53b00;margin:.5rem 0 1.5rem;padding:1rem;background:#313}
ul.form-errors{list-style:square}
.alert{text-align:center;background:#313;padding:1.2rem;margin:0 0 1rem 0;font-size:1.2rem}
.alert.alert-danger{color:#f53b00;font-weight:bold}
pre.debug_dump{font:1.5rem/1.1 monospace;background:#313;padding:1rem 0;clear:both;float:left;width:100%;margin-top:45px}
.code{font-size:1.8rem;margin:.5rem 0 1rem;padding:1rem;background:rgba(10,9,9,0.95);display:inline-block;max-width:100%;overflow-x:auto}
.code mark{background:#343434;color:#B9FFB9}
.terminal{color:#B9FFB9}
.ruby{color:#FFC2B6}
.js,.javascript{color:#e8ff7b}
.pagination{text-align:left;margin:1rem 0;font-size:1.4rem;color:#313}
.pagination a{text-decoration:none;color:#00FBFF}
.pagination a:hover{color:#080808;background:#d2f8b4}

